@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}
.table-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
.table-container h1 {
    text-align: center;
    margin-bottom: 20px;
}

table {
    border-collapse: collapse;
    width: 800px;
}

th {
    border: 1px solid #c6bdbd;
    background-color: #ba68c8;
    color: #fafafa;
    text-align: left;
    padding: 10px;
}


td {
    border: 1px solid #c6bdbd;
    text-align: left;
    padding: 10px;
}
tr:nth-child(odd){
    background-color: #fef5ff;
}

tr:hover {
    background-color: #fef5ff;

}
.para-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 60px 50px;
    gap: 20px;
}
.para{
    width: 500px;
    padding: 20px;
    background-color: #ba68c8;
    color: #fafafa;
    font-size: 17px;
    font-weight: bold;
    margin: 0 auto;
}